<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimuthuupeksha.viewer.android.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ServicesActivity"
            android:label="@string/title_activity_service" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.DomainServiceActivity"
            android:label="@string/title_activity_domain_service" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ActionActivity"
            android:label="@string/title_activity_action" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ActionResultMapper"
            android:label="@string/title_activity_invoke_action" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ListRenderActivity"
            android:label="@string/title_activity_list_render" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ObjectRenderActivity"
            android:label="@string/title_activity_object_render" >
        </activity>
        <activity android:name="com.dimuthuupeksha.viewer.android.ui.ObjectPropertyRenderActivity" />
        <activity android:name="com.dimuthuupeksha.viewer.android.ui.ObjectActionRenderActivity" />
        <activity android:name="com.dimuthuupeksha.viewer.android.ui.ObjectCollectionRenderActivity" />
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ScalarRenderActivity"
            android:label="@string/title_activity_scalar_render" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.CollectionRenderActivity"
            android:label="@string/title_activity_collection_render" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.uimodel.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ObjectPropertyRenderFragment"
            android:label="@string/title_activity_object_property_render_fragment" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ObjectActionRenderFragment"
            android:label="@string/title_activity_object_action_render_fragment" >
        </activity>
        <activity
            android:name="com.dimuthuupeksha.viewer.android.ui.ObjectCollectionRenderFragment"
            android:label="@string/title_activity_object_collection_render_fragment" >
        </activity>
    </application>

</manifest>